Ultrasonic-MQTT/flows.json
[
    {
        "id": "f5859ca9fced1a49",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c6282dd0a84e7f6e",
        "type": "mqtt in",
        "z": "f5859ca9fced1a49",
        "name": "",
        "topic": "codigoiot/distancia/rodrigoarciniega",
        "qos": "2",
        "datatype": "auto",
        "broker": "edd3004a.11da88",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "3616a5d8920ab339",
                "2080f21726810403",
                "6c2b8a298ef33f72"
            ]
        ]
    },
    {
        "id": "3616a5d8920ab339",
        "type": "debug",
        "z": "f5859ca9fced1a49",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "2080f21726810403",
        "type": "ui_gauge",
        "z": "f5859ca9fced1a49",
        "name": "",
        "group": "7ad4c190370ad398",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Distancia",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "6c2b8a298ef33f72",
        "type": "ui_chart",
        "z": "f5859ca9fced1a49",
        "name": "",
        "group": "18bc80903d3413a8",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Distancia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "400",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 710,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "edd3004a.11da88",
        "type": "mqtt-broker",
        "name": "",
        "broker": "3.122.36.163",
        "port": "1883",
        "clientid": "rockdrigoarcm123",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7ad4c190370ad398",
        "type": "ui_group",
        "name": "Lectura del Sensor",
        "tab": "bcb5c6f6808999f1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "18bc80903d3413a8",
        "type": "ui_group",
        "name": "Gráfica distancia",
        "tab": "bcb5c6f6808999f1",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bcb5c6f6808999f1",
        "type": "ui_tab",
        "name": "SensorUltrasonico",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
